/* ==========================================================================
   Default theme skin
   ========================================================================== */

// Intentionally left blank

/*
$navicon-nav-bg-close: white;
$navicon-nav-bg-open: white;
*/
$navicon-content-bg: white;
